
<h1 class="homepage__select__title">Interests</h1>

<div class="homepage__section">
  <h2 class="homepage__section__title">Language</h2>
  <p>If I had unlimited money I'd spend all my time studying languages.</p>
  <p>I'm currently learning <span class="tech">Japanese</span> and I absolutely love it. I've also seriously learnt <span class="tech">French</span> and <span class="tech">Chinese</span> in the past (I've spent most my life learning Chinese, and I absolutely hate the language).</p>
</div>

<div class="homepage__section">
  <h2 class="homepage__section__title">Physical health</h2>
  <p>Old money.</p>
</div>
  
<div class="homepage__section">
  <h2 class="homepage__section__title">Mental health</h2>
  <p>Young money.</p>
</div>
  