
<h1 class="homepage__select__title">Interests</h1>

<div class="homepage__section">
  <h2 class="homepage__section__title">Language</h2>
  <p>If I had unlimited money I'd spend all my time studying languages.</p>
  <p>I'm currently learning <span class="tech">Japanese</span> and I absolutely love it. I've also seriously learnt <span class="tech">French</span> and <span class="tech">Chinese</span> in the past (I've spent most my life learning Chinese, and I absolutely hate the language).</p>
</div>

<div class="homepage__section">
  <h2 class="homepage__section__title">Physical</h2>
  <p>I do the Paleo diet. I intermittent fast. I take cold showers every night. I lift weights three times a week.</p>
  <p>I'm that kind of guy.</p>
</div>
{{/*    
<div class="homepage__section">
  <h2 class="homepage__section__title">Mental</h2>
  <p>I'm very serious about mental health.</p>
</div>
    */}}