
<div class="homepage__select__title__wrapper">
  <h1 class="homepage__select__title">Interests</h1>
  <img class="homepage__select__title__logo" src="/images/logo.png"/>    
</div>

{{/*  <div class="homepage__section">
  <h2 class="homepage__section__title">Health</h2>
  <p>I take my physical and mental health very seriously.</p>
  <p>I'm on the Paleo diet, I intermittent fast (I usually eat one meal per day), I take cold showers every night, I lift weights three times a week, I meditate, blah-blah-blah.</p>
  <p>Upholding balance is my biggest priority in life.</p>
</div>   */}}

<div class="homepage__section">
  <h2 class="homepage__section__title">Language</h2>
  <p>If I'd assumed an unlimited amount of money, I'd spend all my available time studying languages.</p>
  <p>I'm currently learning <span class="tech">Japanese</span> and I absolutely love it. I've also seriously committed to learning <span class="tech">French</span> and <span class="tech">Chinese</span> in the past.</p>
</div>  

<div class="homepage__section">
  <h2 class="homepage__section__title">Gaming</h2>
  <p>It all started with Pajama Sam on the PC and I haven't stopped playing video games since.</p>
  <p>The PS4 is usually what I play these days, picking up games as they come on the cheap, although I also go through various retro phases throughout the year.</p>
  <p>I also can't wait for VR gaming to eventually become a thing. <b>*fingers crossed*</b></p>
</div> 
  
<div class="homepage__section">
  <h2 class="homepage__section__title">Business</h2>
  <p>Although I absolutely love tinkering with code, I've always been a business guy at heart. The only reason I learnt code in the first place is so I could have full control of the product stack.</p>
  <p>I genuinely enjoy the process of building online businesses with strong brands, and you may view an entire graveyard of them in my GitHub account.</p>
  <p>One day I will hack the Millennial dream of maintaining a sustainable passive income over something I'm passionate about.</p>
  <p>Never give up.</p>
{{/*  
  <p>The biggest lesson I've learnt is that great ideas don't matter. What matters are great ideas that you're passionate about.</p>
  <p>While I've created a lot of to-be successful businesses in the past, the biggest lesson I've learnt is that having an amazing, sustainable idea isn't enough (at least for me).</p>
  <p>What's important is coming up with something you're actively passionate about, is easy to execute AND can make you a lot of money, which is something I'm still trying to figure out.</p>
  <p>In part, because I'd be bootstrapping the whole thing.</p>
  <p>Regardless, each time you learn something different which helps you get further each time and develop stronger as an entrepreneur.</p>  */}}
</div> 
  