
<div class="homepage__select__title__wrapper">
  <h1 class="homepage__select__title">Opinions</h1>
  <img class="homepage__select__title__logo" src="/images/logo.png"/>    
</div>

<div class="homepage__section">
  <h2 class="homepage__section__title">Client</h2>
  <p>For large commercial applications I recommend using <a href="https://reactjs.org/" class="tech">React</a> as a front-end. It has a large community, as well as a huge ecosystem of libraries and solutions.</p>
  <p><a href="https://www.typescriptlang.org/" class="tech">TypeScript</a> is also a must. I can't think of a single good reason not to use it, even with existing JavaScript projects.</p>
  <p>For smaller teams I recommend using <a href="https://elm-lang.org/" class="tech">Elm</a>. It allows you to build the same thing in half the time. Plus you get Algebraic Data Types, type safety and state management baked in for FREE.</p>
</div>

<div class="homepage__section">
  <h2>State management</h2>
  <p><a href="https://www.apollographql.com/" class="tech">Apollo</a> is my go-to solution. <a href="https://graphql.org/" class="tech">GraphQL</a> truly is a no-brainer.</p>
  <p><a href="https://redux.js.org/" class="tech">Redux</a> is philosophically sound, however the excessive boilerplate is a huge productivity killer. In addition, Apollo offers the exact same uni-directional data flow as Redux, for a fraction of the code.</p>
  <p><a href="https://www.prisma.io/" class="tech">Prisma</a> is also amazing as a GraphQL backend service, especially if you have some of that sweet VC money to spend. Otherwise <a href="https://github.com/prisma/graphql-yoga" class="tech">graphql-yoga</a> is my go-to GraphQL server setup (built upon Node.js).</p>
</div>

<div class="homepage__section">
  <h2>Server</h2>
  <p><a href="https://nodejs.org/" class="tech">Node.js</a> and <a href="https://elixir-lang.org/" class="tech">Elixir</a> satisfy everything you could possibly want from an application backend.</p>
  <p><a href="https://www.meteor.com/" class="tech">Meteor.js</a> is great for building quick MVP projects, especially if you need real-time functionality. <a href="https://phoenixframework.org/" class="tech">Phoenix Framework</a> is also amazing for achieving the exact same thing. Both have their strengths and weaknesses.</p>
  <p>Express.js is average at best. <a href="https://feathersjs.com/" class="tech">Feathers.js</a> is a great alternative (that's built upon Express.js) and that provides real-time functionality. <a href="https://nestjs.com/" class="tech">Nest.js</a> is also great for building scalable APIs.</p>
  <p>There is also the fabulous <a href="https://parseplatform.org/" class="tech">Parse Server</a> which I absolutely LOVE. It comes baked with so much functionality, including real-time data, user authentication, push notifications and so. much. more.</p>
</div>

<div class="homepage__section">
  <h2>Databases</h2>
  <p><a href="https://www.postgresql.org/" class="tech">PostgreSQL</a> if you want to do it right.</p>
  <p><a href="https://www.mongodb.com/" class="tech">MongoDB</a> if you're walking down the street and a stranger happens to pull a gun on you, as you find yourself compelled to make a seemingly irrational decision in the ensuing panic, startling you into an uncontrollable mania of fear and destitution.</p>
  <p>...and for everything else, there's Mastercard.</p>
</div>

<div class="homepage__section">
  <h2>DevOps</h2>
  <p>To be quite frank, <a href="https://aws.amazon.com/" class="tech">AWS</a> is overkill in 95% of cases. In most cases, you can avoid having to rely on AWS if you use the right tech to begin with.</p>
  <p>A simple VPS via <a href="https://www.digitalocean.com/" class="tech">Digital Ocean</a> is going to be more than enough for a majority of clients, and you'll save a bucketload of time and $$$ in the process. <a href="https://www.ubuntu.com/" class="tech">Ubuntu</a>, <a href="www.zsh.org/" class="tech">Zsh</a> and <a href="https://nginx.org/" class="tech">Nginx</a> are your friends.</p>
  <p>Of course, I totally understand the business rationale for using AWS for large companies where things like permissions and scalability are important, but I guess I'm just a bit of a startup guy.</p>
  <p><a href="https://github.com/" class="tech">Github</a> for version control, <a href="https://www.docker.com/" class="tech">Docker</a> for application container management, <a href="https://buildkite.com/" class="tech">Buildkite</a> for continuous CI and <a href="https://www.terraform.io/" class="tech">Terraform</a> for server configuration/setup.</p>
</div>

<div class="homepage__section">
  <h2>Content</h2>
  <p>For general blogs and basic websites I use <a href="https://gohugo.io/" class="tech">Hugo</a> (which is what this website is built upon) along with <a href="https://www.netlify.com/" class="tech">Netlify</a> for the most delightful deployment process of your lifetime.</p>
  <p>If you require CMS functionality, then tacking on <a href="https://forestry.io/" class="tech">Forestry.io</a> may serve you well. Oh, and I absolutely LOATH <a href="https://wordpress.org/" class="tech">Wordpress</a>. You'd derive more enjoyment chewing glass and spitting it out again.</p>
</div>

<div class="homepage__section">
  <h2>Mobile</h2>
  <p>For cross-platform mobile applications I recommend using <a href="https://flutter.io/" class="tech">Flutter</a>.</p> 
  <p>Although for long-term projects projects I would consider writing them in their respective iOS and Android native languages, as you'll have a better product, as well as save more time overall.</p>
  <p><a href="https://facebook.github.io/react-native/" class="tech">React Native</a> isn't necessarily the worst experience in the world, however it's a fraction as nice as Flutter. Even if you're already fluent with React, I'd bet you'd still come out ahead learning Flutter, especially if you've never built a mobile application before.</p>
  <p><a href="https://onesignal.com/" class="tech">One Signal</a> is great for push/mobile notifications, <a href="https://fastlane.tools/" class="tech">Fastlane</a> for Continuous Integration and <a href="https://www.bitrise.io/" class="tech">Bitrise</a> for Continuous Deployment.</p>
</div>

<div class="homepage__section">
  <h2>Keyboard</h2>
  <p>I use the <a href="https://colemak.com/" class="tech">Colemak</a> keyboard layout. I've switched my CapsLock key with Ctrl, and I even sometimes use <a href="https://www.vim.org/" class="tech">Vim</a>.</p> 
  <p>If you haven't yet figured it out, I'm a massive nerd. Please don't lure me into an EB Games and take my lunch money.</p>
</div>
  