
<div class="homepage__select__title__wrapper">
  <h1 class="homepage__select__title">Opinions</h1>
  <img class="homepage__select__title__logo" src="/images/logo.png"/>    
</div>

<div class="homepage__section">
  <h2 class="homepage__section__title">Client</h2>
  <p>For large commercial applications I recommend using <span class="tech">React</span> as a front-end. It has a large community, as well as a huge ecosystem of libraries and solutions.</p>
  <p><span class="tech">TypeScript</span> is also a must. I can't think of a single good reason not to use it, even with existing Javascript projects.</p>
  <p>For smaller teams I recommend using <span class="tech">Elm</span>. It allows you to build the same thing in half the time. Plus you get Algebraic Data Types, type safety and state management baked in for free.</p>
</div>

<div class="homepage__section">
  <h2>State management</h2>
  <p><span class="tech">Apollo</span> is my go-to solution. <span class="tech">GraphQL</span> truly is a no-brainer.</p>
  <p><span class="tech">Redux</span> is philosophically sound, however the excessive boilerplate is a huge productivity killer. In addition, Apollo offers the exact same uni-directional data flow as Redux, at a fraction of the code.</p>
  <p><span class="tech">Prisma</span> is amazing as a GraphQL backend service, if you have some of that sweet VC money to spend, otherwise <span class="tech">graphql-yoga</span> is my go-to GraphQL server setup (built upon Node.js).</p>
</div>

<div class="homepage__section">
  <h2>Server</h2>
  <p><span class="tech">Node.js</span> and <span class="tech">Elixir</span> satisfy everything you could possibly need for an application backend.</p>
  <p><span class="tech">Meteor.js</span> is great for building quick MVP projects, especially if you need real-time functionality. <span class="tech">Phoenix Framework</span> is also amazing for achieving the exact same thing. Both have their strengths and weaknesses.</p>
  <p>Express.js is average at best. <span class="tech">Feathers.js</span> is a great alternative (that's built upon Express.js) that provides real-time functionality. <span class="tech">Nest.js</span> is also great for building scalable APIs.</p>
  <p>There is also the fabulous <span class="tech">Parse Server</span> which I absolutely LOVE. It comes baked with so much functionality, including real-time data, user authentication, push notifications and so. much. more.</p>
</div>

<div class="homepage__section">
  <h2>DevOps</h2>
  <p>To be quite frank, <span class="tech">AWS</span> is overkill in 95% of cases. In most cases, you can avoid having to use AWS if you use the right tech to begin with. You either believe in politics or sound technical solutions. Choose wisely.</p>
  <p>A simple VPS via <span class="tech">Digital Ocean</span> is going to be more than enough for a majority of clients, and you'll save a bucketload of time and $$$ in the process.</p>
  <p><span class="tech">Github</span> for git management, <span class="tech">Docker</span> for application container management, <span class="tech">Buildkite</span> for continuous CI and <span class="tech">Terraform</span> for server configuration/setup.</p>
</div>

<div class="homepage__section">
  <h2>Content</h2>
  <p>For general blogs and basic websites I use <span class="tech">Hugo</span> (which is what this website is built upon) along with <span class="tech">Netlify</span> for the most delightful deployment process of your lifetime. If you require CMS functionality, then tacking on <span class="tech">Forestry.io</span> will serve you well.</p>
  <p>I absolutely loath <span class="tech">Wordpress</span>. You'd have more fun chewing glass.</p>
</div>

<div class="homepage__section">
  <h2>Mobile</h2>
  <p>For cross-platform mobile applications I recommend using <span class="tech">Flutter</span>.</p> 
  <p><span class="tech">React Native</span> wasn't necessarily the worst experience in the world, however it's a fraction as nice as Flutter. Even if you're already fluent with React, I bet you'd still come out ahead learning Flutter, especially if you've never built a mobile application before.</p>
  <p><span class="tech">One Signal</span> is great for push/mobile notifications, <span class="tech">Fastlane</span> for mobile Continuous Integration and <span class="tech">Bitrise</span> for Continuous Deployment.</p>
</div>

<div class="homepage__section">
  <h2>Keyboard</h2>
  <p>I use the <span class="tech">Colemak</span> keyboard layout, because I'm a massive nerd. I've also switched my Caps Lock key with Ctrl, and I sometimes use <span class="tech">Vim</span>.</p> 
  <p>Please don't take my lunch money.</p>
</div>
  