
.homepage__content {
  margin-top: 2rem;
  margin-left: 1rem;
}

.homepage__hero {
  .homepage__hero__title {
    // background: white;
    border: 6px solid cyan;
    box-shadow: -5px 5px 0px 0px red;

    padding: 0.4rem;
    display: inline-block;

    font-size: 2.3rem;
  }
  
  .homepage__hero__title__secondary {
    // background: white;    
    display: inline-block;
    padding: 1rem;
    border: 6px solid cyan;
    box-shadow: -5px 5px 0px 0px red;

    // border: 6px solid rgb(179, 69, 253);
    // box-shadow: -5px 5px 0px 0px black;

    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

.homepage__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 34em;
  margin-top: 6rem;

  // border: 2px solid black;

  .homepage__section__title {
  }
}

@media screen and (min-width: 420px) {

}


@media screen and (min-width: 768px) {
  .homepage__content {
    margin-top: 4rem;
    margin-left: 4rem;
  }

  .homepage__hero {
    .homepage__hero__title__secondary {
    }
  }

  .homepage__section {
    width: 600px;
    .homepage__section__title {
    }
  }
  
}

@media screen and (min-width: 1280px) {
  .homepage__hero {
    .homepage__hero__title__secondary {
    }
  }
}