* {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  box-sizing: border-box;
  margin: 0rem!important;
  background: #ffffff;
}

h1 {
  color: #333;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h3 {
  color: #333;
  margin: 0;
  padding: 0;
  margin-top: 1rem;

}

p, b {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;

  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

ul {
  li {
    list-style: none;
  }
}

@media screen and (min-width: 420px) {
  body {
    // margin: 0.5rem!important;
    width: initial;
  }
}