* {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  // font-family: Arial, Helvetica, sans-serif;
  // font-family: 'Monserrat',  'Noto Sans', sans-serif;
  // font-family: 'Noto Sans', sans-serif;
  // font-family: 'Monserrat', sans-serif;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  box-sizing: border-box;
  margin: 0!important;
  // background: #ededff;
  background: #ffffff;
}

h1 {
  color: #333;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h3 {
  color: #333;
  margin: 0;
  padding: 0;
  margin-top: 1rem;

}

p, b {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;

  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

// .coat {
//   margin: 0;
//   padding: 0;

//   margin-top: -0.5rem;
//   margin-bottom: 2rem;

//   background: #eee;
//   width: 4rem;
//   height: 0.25rem;
// }

ul {
  li {
    list-style: none;
  }
}

@media screen and (min-width: 420px) {
  body {
    // margin: 0.5rem!important;
    width: initial;
  }
}