<!DOCTYPE html>
<html>
  {{ partialCached "head.html" . }}
  <body>
    <div class="homepage__content">
      
      <div class="homepage__hero">
        <h1 class="homepage__hero__title">Julius Reade.</h1>
      </div>
      <div class="homepage__hero">
        <h2 class="homepage__hero__title__secondary">"Obscenely bright colours are fantastic."</h2> <!-- Pick your <span class="poison">poison</span>. Drink your <span class="project">project</span> -->
      </div>

      <div class="tech__container">

        {{/*  REACT + REDUX  */}}
        <div class="tech__section">
          <div class="tech__section__left">
            <h2 class="tech__title">React + Redux</h2>
            <p class="tech__description">
              A parody of functional programming. 
            </p>
            {{/*  <p class="tech__recommendation">
              Pros: It's not Angular.
            </p>
            <p class="tech__recommendation">
              Cons: Verbose like thick tar.
            </p>  */}}

          </div>

          <div class="tech__section__right">
            <ul class="tech__project__container">
              <li class="tech__project__item">Character Jump</li>
              <li class="tech__project__item">Learning Schedule</li>
            </ul>
          </div>
        </div>


        {{/*  REACT + APOLLO  */}}
        <div class="tech__section">
          <div class="tech__section__left">
            <h2 class="tech__title">React + Apollo</h2>
            <p class="tech__description">
              Dream team without the team. 
            </p>
            {{/*  <p class="tech__recommendation">
              Pros: Fluent state management.
            </p>
            <p class="tech__recommendation">
              Cons: Do you not like client-side documentation?
            </p>  */}}
          </div>

          <div class="tech__section__right">
            <ul class="tech__project__container">
              <li class="tech__project__item">Watashi Engine</li>
            </ul>
          </div>
        </div>
          
        {{/*  ELM  */}}
        <div class="tech__section">
          <div class="tech__section__left">
            <h2 class="tech__title">Elm</h2>
            <p class="tech__description">
              React + V8 turbo.
            </p>
            {{/*  <p class="tech__recommendation">
              Pros: Super fast development time.
            </p>
            <p class="tech__recommendation">
              Cons: Small community.
            </p>  */}}
          </div>

          <div class="tech__section__right">
            <ul class="tech__project__container">
              <li class="tech__project__item">Awful CMS</li>
              <li class="tech__project__item">Awful Christmas</li>
            </ul>
          </div>
        </div>
          
  
        {{/*  Phoenix Framework  */}}
        <div class="tech__section">
          <div class="tech__section__left">
            <h2 class="tech__title">Phoenix Framework</h2>
            <p class="tech__description">
              Ruby on Rails with a crack problem.
            </p>
            {{/*  <p class="tech__recommendation">
              Pros: Fast. Secure. Awesome.
            </p>
            <p class="tech__recommendation">
              Cons: I know where you live, kiddo.
            </p>  */}}
          </div>

          <div class="tech__section__right">
            <ul class="tech__project__container">
              <li class="tech__project__item">Awful CMS</li>
              <li class="tech__project__item">Awful Christmas</li>
              <li class="tech__project__item">Better Image Reference</li>
            </ul>
          </div>
        </div>
  

        {{/*  Hugo  */}}
        <div class="tech__section">
          <div class="tech__section__left">
            <h2 class="tech__title">Hugo</h2>
            <p class="tech__description">
              A static site generator for everyone.
            </p>
            {{/*  <p class="tech__recommendation">
              Pros: I love it.
            </p>
            <p class="tech__recommendation">
              Cons: And I know you will too.
            </p>  */}}
          </div>

          <div class="tech__section__right">
            <ul class="tech__project__container">
                

              <li class="tech__project__item">NeverFap Deluxe</li>
              <li class="tech__project__item">Awful CMS</li>
              <li class="tech__project__item">Awful Christmas</li>
              <li class="tech__project__item">Analogies</li>
            </ul>
          </div>
        </div>
          

      </div>

      

      
  </body>
</html>
