<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <div class="homepage__content">
      <div class="homepage__hero">
        <a href="https://juliusreade.com/"><h1 class="homepage__hero__title">Julius Reade.</h1></a>
        {{/*  <p>Software developer.</p>  */}}
      </div>

      <div class="homepage__section">
        <div class="homepage__section__title__wrapper">
          <h2 class="homepage__section__title">About me</h2>
        </div>
        <p>I am an experienced software developer.</p>
        <p>I have worked for a variety of creative agencies, startups and large companies.</p>
        <p>I come from a strong background of sales, marketing and communications.</p>
        {{/*  <p>I love code.</p>  */}}
        {{/*  <p>My interests include self-development, learning more about mental health, learning Japanese,  </p>  */}}
      </div>

      <div class="homepage__links">
        <a href="https://medium.com/@JuliusReade">Writing</a>
        <a href="https://www.linkedin.com/in/juliusreade/">LinkedIn</a>
        <a href="https://twitter.com/juliusreade">Twitter</a>
        <a href="https://github.com/dottjt">Github</a>
      </div>

      <div class="homepage__section">
        <div class="homepage__select">
          <div id="opinions" class="homepage__select__button homepage__select__button--select">Opinions</div>
          <div id="projects" class="homepage__select__button">Projects</div>
          {{/*  <div id="interests" class="homepage__select__button">Interests</div>  */}}
          {{/*  <div id="personality" class="homepage__select__button">Personality</div>  */}}
          {{/*  <div id="other" class="homepage__select__button">Other</div>  */}}
        </div>
      </div>

      <span id="opinions__block">
        {{ partial "opinions.html" . }}
      </span>

      <span id="projects__block">
        {{ partial "projects.html" . }}
      </span>
      {{/*
      <span id="interests__block">
        {{ partial "interests.html" . }}
      </span>  */}}

      {{/*  <span id="personality__block">
        {{ partialCached "personality.html" . }}
      </span>  */}}

      {{/*  <span id="other__block">
        {{ partialCached "other.html" . }}
      </span>  */}}


      <script>
        var opinionsButton = document.querySelector('#opinions');
        var projectsButton = document.querySelector('#projects');
        var interestsButton = document.querySelector('#interests');
        {{/*  var personalityButton = document.querySelector('#personality');  */}}
        var otherButton = document.querySelector('#other');

        var opinionsBlock = document.querySelector('#opinions__block');
        var projectsBlock = document.querySelector('#projects__block');
        var interestsBlock = document.querySelector('#interests__block');
        {{/*  var personalityBlock = document.querySelector('#personality__block');  */}}
        {{/*  var otherBlock = document.querySelector('#other__block');  */}}

        opinionsButton.onclick = function(event) {
          opinionsBlock.style.display = 'block';
          projectsBlock.style.display = 'none';
          interestsBlock.style.display = 'none';
          {{/*  personalityBlock.style.display = 'none';  */}}
          {{/*  otherBlock.style.display = 'none';  */}}

          opinionsButton.style.borderBottom = '3px solid cyan';
          projectsButton.style.borderBottom = 'none';
          interestsButton.style.borderBottom = 'none';
          {{/*  personalityButton.style.borderBottom = 'none';  */}}
          {{/*  otherButton.style.borderBottom = 'none';  */}}
        }

        projectsButton.onclick = function(event) {
          opinionsBlock.style.display = 'none';
          projectsBlock.style.display = 'block';
          interestsBlock.style.display = 'none';
          {{/*  personalityBlock.style.display = 'none';  */}}
          {{/*  otherBlock.style.display = 'none';  */}}

          opinionsButton.style.borderBottom = 'none';
          projectsButton.style.borderBottom = '3px solid cyan';
          interestsButton.style.borderBottom = 'none';
          {{/*  personalityButton.style.borderBottom = 'none';  */}}
          {{/*  otherButton.style.borderBottom = 'none';  */}}
        }


        interestsButton.onclick = function(event) {
          opinionsBlock.style.display = 'none';
          projectsBlock.style.display = 'none';
          interestsBlock.style.display = 'block';
          {{/*  personalityBlock.style.display = 'none';  */}}
          {{/*  otherBlock.style.display = 'none';  */}}

          opinionsButton.style.borderBottom = 'none';
          projectsButton.style.borderBottom = 'none';
          interestsButton.style.borderBottom = '3px solid cyan';
          {{/*  personalityButton.style.borderBottom = 'none';  */}}
          {{/*  otherButton.style.borderBottom = 'none';  */}}
        }

        personalityButton.onclick = function(event) {
          opinionsBlock.style.display = 'none';
          projectsBlock.style.display = 'none';
          interestsBlock.style.display = 'none';
          personalityBlock.style.display = 'block';
          {{/*  otherBlock.style.display = 'none';  */}}

          opinionsButton.style.borderBottom = 'none';
          projectsButton.style.borderBottom = 'none';
          interestsButton.style.borderBottom = 'none';
          personalityButton.style.borderBottom = '3px solid cyan';
          {{/*  otherButton.style.borderBottom = 'none';  */}}
        }

        {{/*  otherButton.onclick = function(event) {
          opinionsBlock.style.display = 'none';
          projectsBlock.style.display = 'none';
          interestsBlock.style.display = 'none';
          personalityBlock.style.display = 'none';
          otherBlock.style.display = 'block';

          opinionsButton.style.borderBottom = 'none';
          projectsButton.style.borderBottom = 'none';
          interestsButton.style.borderBottom = 'none';
          personalityButton.style.borderBottom = 'none';
          otherButton.style.borderBottom = '3px solid cyan';
        }  */}}
      </script>
    </div>

    <div class="footer" >
      {{/*  <p>2019</p>  */}}
    </div>
  </body>
</html>
