<!DOCTYPE html>
<html>
  {{ partialCached "head.html" . }}
  <body>
    <div class="homepage__content">
      
      <div class="homepage__hero">
        <h1 class="homepage__hero__title">Julius Reade.</h1>
      </div>
      <div class="homepage__hero">
        <h2 class="homepage__hero__title__secondary">"Obscenely bright colours are fantastic."</h2> <!-- Pick your <span class="poison">poison</span>. Drink your <span class="project">project</span> -->
      </div>
    </div>
    <div class="homepage__section purple__gradient">
      <h2 class="homepage__section__title">React + Redux + Node.js</h2>
    </div>  

    <div class="homepage__content">
      <div class="tech__container">
        <div class="tech__section purple__gradient">
          <div class="tech__section__left">
            <h2 class="tech__title">Character Jump</h2>
            <p class="tech__description">
              A parody of functional programming. 
            </p>
            {{/*  <p class="tech__recommendation">
              Pros: It's not Angular.
            </p>
            <p class="tech__recommendation">
              Cons: Verbose like thick tar.
            </p>  */}}

          </div>

          <div class="tech__section__right">
            <ul class="tech__project__container">
              <li class="tech__project__item">Character Jump</li>
              <li class="tech__project__item">Learning Schedule</li>
            </ul>
          </div>
        </div>
      </div>
    </div>



        {{/*  REACT + APOLLO  */}}
        <div class="tech__section">
          <div class="tech__section__left">
            <h2 class="tech__title">React + Apollo + Node.js</h2>
            <p class="tech__description">
              Dream team without the team. 
            </p>
            {{/*  <p class="tech__recommendation">
              Pros: Fluent state management.
            </p>
            <p class="tech__recommendation">
              Cons: Do you not like client-side documentation?
            </p>  */}}
          </div>

          <div class="tech__section__right">
            <ul class="tech__project__container">
              <li class="tech__project__item">Watashi Engine</li>
            </ul>
          </div>
        </div>
          
        {{/*  ELM  */}}
        <div class="tech__section">
          <div class="tech__section__left">
            <h2 class="tech__title">Elm + Phoenix Framework</h2>
            <p class="tech__description">
              Better React + V8 turbo.
            </p>
            {{/*  <p class="tech__recommendation">
              Pros: Super fast development time.
            </p>
            <p class="tech__recommendation">
              Cons: Small community.
            </p>  */}}
          </div>

          <div class="tech__section__right">
            <ul class="tech__project__container">
              <li class="tech__project__item">Awful CMS</li>
              <li class="tech__project__item">Awful Christmas</li>
              <li class="tech__project__item">Julius V3</li>
            </ul>
          </div>
        </div>
  

        {{/*  Hugo  */}}
        <div class="tech__section">
          <div class="tech__section__left">
            <h2 class="tech__title">Hugo</h2>
            <p class="tech__description">
              A static site for everyone.
            </p>
            {{/*  <p class="tech__recommendation">
              Pros: I love it.
            </p>
            <p class="tech__recommendation">
              Cons: And I know you will too.
            </p>  */}}
          </div>

          <div class="tech__section__right">
            <ul class="tech__project__container">
              <li class="tech__project__item">NeverFap Deluxe</li>
              <li class="tech__project__item">Analogies</li>
              <li class="tech__project__item">Julius V5</li>
            </ul>
          </div>
          
      </div> <!-- End of footer -->
      <div class="footer">

      </div>
    </div>
  </body>
</html>
